default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: growth

production:
  <<: *default
  database: growth
  username: grown
  password: <%= ENV['GROWTH_DATABASE_PASSWORD'] %>
